@import "../../abstract/functions";
@import "../../abstract/variables";
@import "../../abstract/colors";
@import "../../abstract/mixin";

.root {
  background: $color-white;
  padding: $spacing-2;
  width: 100%;
  border-radius: $border-radius;
  @include box-shadow();
}

.address {
  font-weight: 700;
}
