@import "src/styles/abstracts/functions";

.input {
  max-width: rem(586);
}

.checkbox {
  align-self: flex-start;
  flex-direction: row-reverse;
  margin-left: 0;
  font-size: rem(16);
  line-height: rem(21);
  font-weight: 700;

  :global(.MuiFormControlLabel-label) {
    font-size: rem(16);
    line-height: rem(21);
    font-weight: 700;
  }
}
