@import "../abstract/functions";
@import "../abstract/variables";

.root {
  padding-top: $spacing-3;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  max-width: $breakpoint-md;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  margin-bottom: $spacing-3;
  align-self: flex-end;
  margin-right: rem(30);
}
