@import "src/styles/abstracts/functions";
@import "src/styles/abstracts/colors";
@import "src/styles/abstracts/variables";
@import "src/styles/abstracts/mixins";

.input {
  border-radius: rem(10);
  border: 1px dashed $color-grey;
  width: rem(342);
  height: rem(205);
  cursor: pointer;
  position: relative;
  padding: rem(12);
  @include flexCenter;
}

.image {
  border-radius: rem(10);
  width: rem(317);
  height: rem(181);
}

.delete {
  color: $color-white;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $color-white;
  padding: 0;
  margin-top: rem(3);
  margin-right: rem(3);
}

.label {
  font-size: rem(16);
  line-height: rem(21);
  position: unset;
  transform: unset;
  font-weight: 700;
  margin-bottom: rem(24);

  &:global(.Mui-focused),
  &:global(.Mui-error) {
    color: $color-primary-alt5;
  }

  & + :global(.MuiInput-formControl) {
    margin-top: $spacing-3;
  }
}
