@import "src/styles/abstracts/variables";

.selectContainer {
  display: flex;
  align-items: center;

  :global(.MuiSelect-select) {
    padding: rem(6) rem(24) rem(6) 0;
    line-height: rem(21);
  }
}

.select {
  width: auto;
}
