@import "src/styles/abstracts/colors";
@import "src/styles/abstracts/functions";
@import "src/styles/abstracts/variables";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $color-white;
  box-shadow: $box-shadow-alt3;
  z-index: 100;
}

.form {
  position: relative;
}

.body {
  padding: rem(24) rem(26);
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: rem(16);
  line-height: rem(21);
  font-weight: 700;
}

.input {
  max-width: rem(586);
  margin-bottom: rem(12);
}

.select {
  max-width: rem(287);
  margin-bottom: rem(12);
}
