@import "src/styles/abstracts/functions";
@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/colors";
@import "src/styles/abstracts/variables";

.form {
  margin: auto;
  width: 100%;
  max-width: rem(341);
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: $spacing-3;
  color: $color-primary-alt5;
}

.subtitle {
  margin-bottom: $spacing-4;
  color: $color-primary-alt5;
}

.input {
  margin-top: $spacing-1;
  margin-bottom: $spacing-3;
}

.button {
  box-shadow: $box-shadow;
  border-radius: rem(25);
  padding: rem(11) rem(8);
}