* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  display: flex;
}

body {
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  background: $color-background;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

#__next,
body {
  display: flex;
  flex-direction: column;
}

#__next {
  flex: 1 1;
}

button {
  background: none;
  border: none;
  outline: none;
  text-align: left;
}

a {
  all: unset;
  &:focus,
  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }
}
