@import "../abstract/colors";
@import "../abstract/functions";
@import "../abstract/variables";

.root {
  flex: 1;
  max-width: $breakpoint-md;
  display: flex;
  width: 100%;
}

.btnContained {
  background: $color-error;
  margin-bottom: rem(24);
  color: $color-white;
}

.btn {
  color: $color-error;
}
