@import "src/styles/abstracts/colors";
@import "src/styles/abstracts/functions";
@import "src/styles/abstracts/mixins";

.card {
  background-color: $color-white;
  height: auto;
  min-height: rem(281);
  width: 100%;
  max-width: rem(462);
  border-radius: rem(5);
  padding: rem(36);
}

.title {
  color: $color-primary-alt5;
}

.content {
  margin-top: rem(24);
  word-wrap: break-word;
}