$color-border: #cccfdf;
$color-background: var(--tertiary-color, #f7f8fd);
$color-text-light: #fafafa;
$color-white: #ffffff;
$color-shadow: #404259;
$color-arrow: #b8bac8;
$color-primary: #42399d;
$color-black: #000000;
$color-btn-fb: #3b5998;
$color-btn-google: #ea4335;
$color-img-overlay: #faf7fd;
$color-img-overlay-2: #7a87c8;
$color-search: #999999;
$color-placeholder-bg: #dee0ec;
$color-disabled-text: #797575;
$color-disabled-bg: #d8d8d8;
$color-text: #404259;

$color-icon: #333333;

$color-icon: #333333;

$color-error: #b00020;

$gradient-violet: linear-gradient(180deg, #583fa6 0%, #563ea5 49.48%, #323597 100%), $color-white;
