$spacing-1: rem(12);
$spacing-2: rem(24);
$spacing-3: rem(36);
$spacing-4: rem(48);

$category-animation-duration: 0.25s;

$border-radius: rem(20);

$breakpoint-sm: rem(480);
$breakpoint-md: rem(768);
$breakpoint-lg: rem(1024);
$breakpoint-xl: rem(1280);
