$color-white: #ffffff;
$color-grey: #999999;
$color-gray-alt: #e5e5e5;
$color-gray-alt2: #f7f8fd;
$color-gray-alt3: #969696;
$color-gray-alt4: #b8bac8;
$color-gray-alt5: #CCCFDF;
$color-gray-alt6: #EAEDFA;
$color-gray-alt7: #8C8C8C;
$color-gray-alt8: #F1F1F1;
$color-gray-alt9: #C4C4C4;
$color-gray-alt10: #F8F8F8;
$color-gray-alt11: #838383;

$color-alert: #B00020;
$color-alert-alt: #DB4437;
$color-alert-alt2: #D62646;

$color-primary: var(--primary-color);
$color-primary-alt: #eaedfa;
$color-primary-alt2: var(--primary-color-alt);
$color-primary-alt3: var(--primary-color-alt2);
$color-primary-alt4: var(--primary-color-alt3);
$color-primary-alt5: #404259;

$color-secondary: var(--secondary-color);
$color-tertiary: var(--tertiary-color);

$color-black: #000000;
