@import "src/styles/abstracts/colors";
@import "src/styles/abstracts/variables";
@import "src/styles/abstracts/functions";

.form {
  padding: rem(18) $spacing-3 $spacing-3 $spacing-3;
  display: flex;
  flex-direction: column;
}

.languagePicker {
  margin-bottom: rem(6);
}

.submit {
  display: flex;
  text-transform: none;
  font-size: rem(16);
  line-height: rem(20);
  font-weight: 400;
  border-radius: rem(22.5);
  margin: $spacing-1 rem(-23) 0 0;
  padding: rem(11) rem(22);
  align-self: flex-end;

  :global(.MuiButton-endIcon) {
    margin: rem(1) 0 0 rem(3);
  }
}

.submitIcon {
  width: rem(20);
  height: rem(20);
}
