@import "src/styles/abstracts/colors";
@import "src/styles/abstracts/variables";
@import "src/styles/abstracts/functions";



.label {
  font-size: rem(16);
  line-height: rem(21);
  font-weight: 700;
  width: 100%;
  padding: $spacing-4 0 rem(18) 0;

  &:global(.Mui-focused) {
    color: $color-primary-alt5;
  }
}

.radioRoot {
  margin-right: 0;
  margin-top: rem(-6);
}

.radioLabel {
  padding-left: rem(5);
}
